<div class="grid place-items-center">

  <section class="container  max-w-screen-lg xl:px-8 xl:py-6">
    <header class="bg-white space-y-4 sm:px-8 sm:py-6 lg:p-4  text-center ">
      <div class="flex items-center justify-between">
        <h2 class="font-semibold text-slate-900">Usuários do Github que você salvou</h2>
      </div>
    </header>
    <div class="result-users space-y-4 sm:px-8 sm:py-6 lg:p-4  text-left">
      <app-list [showActionsButton] ="true" [tableHeaders]="listHeaders" [items]="getFormattedSavedGithubUsers()"  [completeItems]="savedGithubUsers" [actionButtonsState]="actionButtonsState"/>
    </div>
  </section>
</div>
