<div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3" *ngFor="let header of tableHeaders">
        {{ header }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700" *ngFor="let item of items;index as i; first as isFirst">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <img *ngIf="item && item.avatar_url" class="w-10 h-10 rounded-full mr-4" src="{{item.avatar_url}}">
      </th>
      <td class="px-6 py-4">
        {{item.login}}
      </td>
      <td class="px-6 py-4">
        {{item.name}}
      </td>
      <td class="px-6 py-4">
        {{item.html_url}}
      </td>
      <td class="px-6 py-4">
        {{item.location}}
      </td>
      <td class="px-6 py-4" *ngIf="showActionsButton && actionButtonsState[i].showLoading" >
        <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-blue-500 animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
        </svg>
      </td>
      <td class="px-6 py-4" *ngIf="showActionsButton && !actionButtonsState[i].showLoading">
        <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline" (click)="handleModal(completeItems[i])"> {{item.action.text}}</button>
        <button *ngIf="showActionsButton" class="font-medium text-blue-600 dark:text-blue-500 hover:underline" (click)="onDeleteGithubUser(completeItems[i].id, i)"> Excluir </button>
      </td>

      <td class="px-6 py-4" *ngIf="!showActionsButton">
        <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline" (click)="handleModal(completeItems[i])"> {{item.action.text}}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none flex focus:outline-none justify-center items-center" style="min-width: 500px !important; left: auto;">

  <div class=" my-6 mx-auto" style="min-width: 600px !important;">
    <!--content-->
    <form (ngSubmit)="resultedGithubser && resultedGithubser.id ? onEditGithubUser(): onSaveGithubUser()" class="border-0 rounded-lg shadow-lg flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Informações adicionais de {{resultedGithubser && resultedGithubser.login}}
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
              <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                x
              </span>
        </button>
      </div>
      <!--body-->
      <div class="container p-6 space-y-6 overflow-y-auto user-info" >

        <div class="mb-4">
          <img class="w-10 h-10 rounded-full mr-4" src="{{resultedGithubser && resultedGithubser.avatar_url}}" alt="Avatar of Jonathan Reinink">

        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Nome
          </label>
          {{ resultedGithubser && resultedGithubser.name}}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Username
          </label>
          {{ resultedGithubser && resultedGithubser.login}}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Link do perfil
          </label>
          {{ resultedGithubser && resultedGithubser.html_url}}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Bio
          </label>
          {{ resultedGithubser.bio || 'Sem bio'}}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Tipo
          </label>
          {{ resultedGithubser && resultedGithubser.type}}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            E-mail
          </label>
          {{ resultedGithubser && resultedGithubser.email}}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Repositórios públicos
          </label>
          {{ resultedGithubser && resultedGithubser.public_repos}}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Seguidores
          </label>
          {{ resultedGithubser && resultedGithubser.followers}}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Seguindo
          </label>
          {{ resultedGithubser && resultedGithubser.following}}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Empresa
          </label>
          {{ resultedGithubser && resultedGithubser.company}}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            É um administrador do Github?
          </label>
          {{ resultedGithubser && resultedGithubser.site_admin}}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Local
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="location"
            type="text"
            placeholder="Local"
            [(ngModel)] = "resultedGithubser && resultedGithubser.location"
            name="location"
            required
            minlength="3"
            #location="ngModel"
          >
          <app-map [locationInfo]="currentLocationInfo"class="map ml-10 mt-3"/>
        </div>
        <h3></h3>

      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Fechar
        </button>
        <app-custom-button
          [class]="'bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150'"
          [isLoading]="isLoading"
          [text]="'Salvar informações'"
          [type]="'submit'"
        />
      </div>
    </form>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
